<h1>Hello Angular</h1>

<button id="basic" type="button" mat-button>
  Basic button
</button><br/>
<button mat-button color="primary">Primary</button><br/>
<button mat-button color="warn">Warn</button><br/>
<button mat-button disabled>Disabled</button><br/>
<button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>