<div class="container">
    <div class="movies" *ngFor="let movie of movies">
        <div class="poster-name">
            <div class="poster">
                <img [src]="movie.image" style="max-width:200px; max-height:200px;">
            </div>
            <div class="name">{{movie.name}}</div>
            <div class="language">{{movie.language}}</div>
        </div>
        <div class="vote">
            <!-- <button (click)="onClick(movie.id)" [disabled]="movie.voted">Vote</button> -->
            <button (click)="onClick(movie.id)">{{ movie.voted ? 'Unvote' : 'Vote' }}</button>
            <div [hidden]="!movie.voted"><p>Voted!</p></div>
        </div>
    </div>
</div>
