mat-toolbar {
    height: 65px;
}

span {
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

.heading {
    padding-top: 30px;
    margin: 0 auto;
    color: #3c2345;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

mat-card {
    padding: 30px;
    width: 500px;
    margin: 10px auto;
    margin-top: -60px;
    background-color: #ccb3df;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

mat-card-title {
    font-size: 26px;
    font-weight: bold;
    color: #23101c;
    padding-bottom: 20px
}

.label {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 17px;
    color: #23101c;
}

mat-form-field {
    width: 100%;
}


.buttons {
    border: none;
    margin-top: 15px;
    width: 100%;
    padding: 15px 15px;
    background-color: #1a0d23;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons:hover {
    background-color: #46136b;
}