.pageHeader{
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    color: rgb(161, 157, 157);
}

.allUsers{
    display: grid;
    margin-left:50px;
    margin-right:50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}


.userCard{
    height: 420px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userCard:hover{
    background-color: antiquewhite;
}

.userName{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.email{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    /* background-color: lightpink; */
    text-align: center;
}

.image{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

img{
    width:250px;
}

#userDetailContainer{
    display:flex;
    width: 670px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    flex-direction:row;
    position: fixed;
    color: #333;
}


.newPage-image{
    /* background-color: lightblue; */
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newPage-info{
    /* background-color: lightpink; */
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newPage-first-name,
.newPage-last-name,
.newPage-email,
.newPage-id{
    height: 25%;
    width: 100%;
    padding-left:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    padding-top: 10px;
}
