<mat-toolbar [ngStyle]="{'background-color': 'black', 'color': 'white'}">
    <div class="left-end">
        <button mat-icon-button class="home-button" routerLink="manager-all-requests" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact : true}">
            <mat-icon>home</mat-icon>
        </button>
        <a routerLink="manager-latest-requests" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact : true}" class="button-with-badge" (click)="checkLatestRequestsCount()" style="position: relative; display: inline-block;">
            Latest Requests
            <mat-badge [matBadge]="latestRequestsCount" matBadgePosition="above after" matBadgeOverlap="false" matBadgeHidden="{{latestRequestsCount <= 0}}">
            </mat-badge>
        </a>
        <a routerLink="manager-request-form" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact : true}">Request</a>
        <a routerLink="manager-my-requests" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact : true}">My Requests</a>
        <a routerLink="manager-view-history" [routerLinkActive]="'active'" [routerLinkActiveOptions] = "{exact : true}">View History</a>    
    </div>
    <div class="right-end">
        <span>{{currentUserName}}</span>
        <button mat-icon-button class="logout-button" [ngStyle]="{'margin-left': 'auto'}" (click)="openLogoutDialog()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>

    