<div class="container">
    <div class="app-name">
        <h1>Approval Management System</h1>
    </div>
    <div class="auth-content-container">
        <form class="example-form">
            <mat-label>Username</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Ex. Rohan">
            </mat-form-field>

            <mat-label>Username</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Ex. Jenneie1999">
            </mat-form-field>

            <button mat-raised-button color="primary">User Login</button>
            <button mat-raised-button color="primary">Manager Login</button>

            <button mat-raised-button color="accent">Sign Up</button>
        </form>
    </div>
</div>