<div class="container">
    <div class="login-container">
        <mat-card [ngStyle]="{'background-color': 'white'}">
            <mat-card-header>
                <h2>Login</h2>
            </mat-card-header>
            <mat-card-content>
                <form>
                    <div class="label"><mat-label>Enter Username</mat-label></div>
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <div class="label"><mat-label>Enter Password</mat-label></div>
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password">
                    </mat-form-field>

                    <div class="login-buttons">
                        <div class="user-login">
                            <button mat-raised-button [ngStyle]="{'background-color': '#333333', 'color': 'white'}">User Login</button>
                        </div>
                        <div class="manager-login">
                            <button mat-raised-button [ngStyle]="{'background-color': '#333333', 'color': 'white'}">Manager Login</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
