.container{
    display: flex;
    height: 100vh;
    background-image: url('../../assets/login-page-assets/background-image.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

mat-card {
    padding: 30px;
    width: 500px;
    background-color: #ccb3df;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 3px;
}

.mat-label-text{
    padding-bottom: 50px;
}

mat-form-field{
    width: 100%;
    height: 80px;
}


.login-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login-buttons button{
    margin-top: 15px;
    width: 150px;
    padding: 15px 15px;
}

