body{
    background-color: none;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../assets/login-page-assets/background-image.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.heading{
    color: white;
    margin-top: -10px;
    margin-bottom: 80px;
}

.heading h1{
    font-size: 50px;
}

mat-card {
    margin-top: -30px;
    padding: 30px;
    width: 500px;
    background-color: #ccb3df;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 3px;
    padding-bottom: 40px;
}

mat-form-field{
    width: 100%;
    height: 80px;
}

.login-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login-buttons button{
    margin-top: 15px;
    width: 150px;
    padding: 15px 15px;
}

.new-user{
    margin-top: 20px;
    display:flex;
    align-items: baseline;
    justify-content: center;
}

.register{
    margin-left: 12px;
}

.register button{
    width: 150px;
    padding: 15px 15px;
}


@media only screen and (max-width: 600px) {
    .container {
        height: auto;
        background-size: contain;
    }

    .heading {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .heading h1 {
        font-size: 30px;
    }

    mat-card {
        width: 90%;
        padding: 20px;
    }

    .login-buttons {
        flex-direction: column;
        align-items: center;
    }

    .login-buttons button {
        margin-top: 10px;
        width: 100%;
    }

    .new-user {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .register {
        margin-left: 0;
        margin-top: 10px;
    }

    .register button {
        width: 100%;
    }
}
